<div id="preferences-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">Preferences</h1>
    </div>
    <div class="modal-body">

        <div class="row-fluid">
            <label class="span4">Allow deep digging through folders :</label>
            <input type="checkbox" settingsProperty="allowDigging" />
        </div>
        <div class="row-fluid">
            <label class="span4">Allow auto convert :</label>
            <input type="checkbox" settingsProperty="allowAutoConvert" />
        </div>
    </div>
    <div class="modal-footer">
        <button data-button-id="defaults" class="dialog-button btn left">Restore defaults</button>
        <button data-button-id="cancel"   class="dialog-button btn cancel" >Cancel</button>
        <button data-button-id="ok"       class="dialog-button btn primary">Save</button>
    </div>
</div>
